<!DOCTYPE html>
<head>
    <link rel="stylesheet" 
    type="text/css"
    href="../css/style.css">
    <script src="https://kit.fontawesome.com/a257307827.js" crossorigin="anonymous"></script>
    <title>RESTAURANTS</title>
</head>

<body>
    <div class="container">
        <nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search restaurant">
                    </form>

                </div>
                <div class="add-restaurants">
                    <i class="fas fa-plus"></i>
                    add restaurants
                </div>

            </header>
            <section class="restaurants">
                <div>restaurants 1</div>
                <div>restaurants 2</div>
                <div>restaurants 3</div>
                <div>restaurants 4</div>
            </section>
        </main>
    </div>
</body>