<!DOCTYPE html>
<head>
    <link rel="stylesheet" 
    type="text/css"
    href="../css/style.css">
    <script src="https://kit.fontawesome.com/a257307827.js" crossorigin="anonymous"></script>
    <title>RESTAURANTS</title>
</head>

<body>
    <div class="container">
        <nav>
            <img src="../img/logo.svg">
            <ul>
                <li>
                    <i class="fas fa-utensils"></i>
                    <a href="#" class="button">restaurants</a>
                </li>
                <li>
                    <i class="fas fa-user-friends"></i>
                    <a href="#" class="button">users</a>
                </li>
                <li>
                    <i class="fas fa-comments"></i>
                    <a href="#" class="button">messages</a>
                </li>
                <li>
                    <i class="fas fa-bell"></i>
                    <a href="#" class="button">notification</a>
                </li>
                <li>
                    <i class="fas fa-cog"></i>
                    <a href="#" class="button">settings</a>
                </li>
            </ul>
        </nav>
        <main>
            <header>
                <div class="search-bar">
                    <form>
                        <input placeholder="search restaurant">
                    </form>
                    <div>
                        
                    </div>
                </div>
                <div class="add-restaurants">
                    <i class="fas fa-plus"></i>
                    add restaurants
                </div>

            </header>
            <section class="restaurants">
                <div>restaurants 1</div>
                <div>restaurants 2</div>
                <div>restaurants 3</div>
                <div>restaurants 4</div>
            </section>
        </main>
    </div>
</body>