body{
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: transparent linear-gradient(180deg, #DC3A21 0%, #808080 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.logo{
    width: 50%;
    margin: auto;
    min-width: max-content;
    max-width: 50%;
    text-align: center;
}

.login-container{
    margin: auto;
    width: 50%;
    min-width: max-content;
    max-width: 50%;
}

form.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 40vh;

    background: #FFFFFFE0 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 6px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 40px;
}

button{
    background: transparent linear-gradient(180deg, #DC3A21 0%, #6E1D11 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 19px;
    border-radius: 1.5em;

    width: 50%;
    border: none;
    color: white;
    margin: 1em;
    line-height: 2.5em;
}

input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid gray;
    padding: 1em;
    margin: 1em;
    width: 50%;
}

.base-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

nav {
    width: 20vw;
    height: 100%;
    background: transparent linear-gradient(180deg, #DC3A21 0%, #6E2419 100%) 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

main {
    width: 80vw;
}

nav > img {
    width: 90%;
    margin: 2em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1.5em;
}

.button {
    border: 1px solid white;
    border-radius: 1em;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: white;
    padding: 0.2em;
    width: 60%;
}

ul {
    list-style-type: none;
    color: white;
    font: normal normal normal 20px/27px Segoe UI;
    letter-spacing: 0px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: calc(100% - 40px);
    position: relative;
}

li {
    text-align: left;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.fa, .fas {
    font-weight: 900;
    width: 1em;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
    border-bottom: 1px solid gray;
}

.add-restaurant {
    background: #FF6B54 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 1.5em;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    width: 20%;
}

.add-restaurant > i {
    padding: 1em;
}

.search-bar {
    width: 70%;
}

.search-bar>form>input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 90px;
    width: 100%;
    text-align: center;
    color: gray;
    margin: 0;
    box-sizing: border-box;
}